@model IEnumerable<WSeries.Core.Model.Show>


@{
    ViewBag.Title = "WSeries";
}

<div class="shows">
    <h1>Shows</h1>
    
    @using (Ajax.BeginForm("Index", "Home", FormMethod.Post, new AjaxOptions{}))
    {
        <div>
            @Html.TextBox("Query")
            <input type="submit" value="Search" />
        </div>
    }

    @if(Model != null)
    { 
    <ul>
        @foreach (var show in Model)
        {
            <li>
                <ul>
                    <li>@show.Title</li>
                    <li>@show.Year</li>
                </ul>
                <img src="@show.Images.Poster" height="80" width="70" />
            </li>

            <hr />
        }
    </ul>
    }
</div>