@model IEnumerable<WSeries.Core.Model.Show>


@{
    ViewBag.Title = "WSeries";
}

<div class="shows">
    <h1>Shows</h1>

    @using (Ajax.BeginForm("Index", "Home", FormMethod.Post, new AjaxOptions { }))
    {
        <div>
            @Html.TextBox("Query")
            <input type="submit" value="Search" />

            <hr />
        </div>
    }

    @if (Model != null)
    {
        foreach (var show in Model)
        {
            <div class="result-show">
                <img src="@show.Images.Poster" />
                <text maxlength="20">@show.Title</text>
                <text>@show.Year</text>
            </div>
        }

    }
</div>